# Node modules
node_modules/
npm-debug.log*
yarn-debug.log*
.yarn-integrity

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
xcuserdata/

# Android
.gradle
/build
/captures
.externalNativeBuild
.idea/
local.properties
*.iml

# React Native specific
.expo/
web-build/
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Expo specific (if using Expo)
.expo/
web-build/
